@keyframes actoins01 {
  0% {
    // right: 0px;
    right: -280px;
    opacity: 0.5;
  }

  20% {
    transform: translateY(2%) scaleY(0.9);
  }

  40% {
    transform: translateY(-100%) scaleY(1.2);
  }

  50% {
    transform: translateY(10%) scaleY(0.8);
  }

  70% {
    transform: translateY(-5%) scaleY(1);
  }

  90% {
    right: 280px;
  }

  95% {
    transform: scaleX(0.3);
  }

  99% {
    transform: scale(1.5);
  }

  80%,
  100% {
    transform: translateY(0) scaleY(1);
    opacity: 1;
    // right: 190px;
    color: #777;
    // transform: translateX(calc(0.01em * var(--char-index))); 位移
    // transform: scaleX(0.3);
  }


}

.animations {
  .self {
    // animation-name: animation-test; // 動畫名稱
    // animation-duration: 0.8s; // 持續時間
    // animation-timing-function: ease-in-out;
    // animation-fill-mode: forwards;

    letter-spacing: 3px;
    // color: #ffffff00;
    overflow: unset;

    .word,
    .char {
      // border: 1px solid #0000ff;
      animation-delay: var(--del);
      animation-direction: var(--dir, normal);
      animation-duration: var(--dur);
      animation-iteration-count: var(--it, infinite);
      animation-name: var(--name);
      animation-timing-function: var(--tf);
      animation-fill-mode: var(--fill, forwards);

      display: inline-block;
      position: relative;
      transform-origin: 50% 100%;
      z-index: 1;
    }
  }

  // 跳動文字 
  .headline--self001 {
    .char {
      --name: anim001;
      --dur: 800ms;
      --del: calc(var(--char-index) * 0.075s);
      --it: 1;
      --tf: cubic-bezier(0.165, 0.44, 0.64, 1);
    }
    @keyframes anim001 {
      0% {
        right: 0px;
        opacity: 0.5;
      }
      20% {
        transform: translateY(2%) scaleY(0.9);
      }
      40% {
        transform: translateY(-100%) scaleY(1.2);
      }
      50% {
        transform: translateY(10%) scaleY(0.8);
      }
      70% {
        transform: translateY(-5%) scaleY(1);
      }
      90% {
        right: 280px;
      }
      95% {
        transform: scaleX(0.3);
      }
      99% {
        transform: scale(1.5);
      }
      80%,
      100% {
        transform: translateY(0) scaleY(1);
        opacity: 1;
        // color: var(--cbColor);
        // color: #ff0000;

        // transform: translateX(calc(0.01em * var(--char-index))); 位移
        // transform: scaleX(0.3);
      }
    }
  }

  // 淡入
  .button--alpha {
    opacity: 0;
    animation-name: alpha_in; // 動畫名稱
    animation-duration: 3s; // 持續時間
    animation-fill-mode: forwards;
  }
  // 淡出
  .page--alphaOut {
    opacity: 1;
    animation-name: alpha_out; // 動畫名稱
    animation-duration: 1s; // 持續時間
    animation-fill-mode: forwards;
  }
  // 旋轉
  .button-rotate {
    animation-name: settingsBtn; // 動畫名稱
    animation-duration: 1s; // 持續時間
    animation-fill-mode: forwards;
    // animation-iteration-count: infinite;
    animation-timing-function: cubic-bezier(0.165, 0.44, 0.64, 1);
  }
  // 按鈕扭動
  .button--twirl {
    .word {
      // border: 1px solid #00ff00;
    }
    .char {
      border: 1px solid #00ff00;
      --name: twirl;
      --dur: 6000ms;
      --del: calc(var(--char-index) * 0.025s);
      --tf: linear;
    }
    @keyframes twirl {
      2.5% {
        transform: rotateY(1turn);
      }

      5% {
        transform: rotateY(2turn);
      }

      10% {
        transform: rotateY(3turn);
      }

      20% {
        transform: rotateY(4turn);
      }

      40% {
        transform: rotateY(5turn);
      }

      70%,
      100% {
        transform: rotateY(6turn);
      }
    }
  }


  @keyframes rightBtn01 {
    0% {
      transform: scale(0);
      opacity: 0;
    }
    50% {
      transform: scale(0.95);
    }
    80% {
      transform: translateX(40px) rotateY(70deg) scale(1.2) scaleY(.5);
    }
    100% {
      transform: translateX(40px) rotateY(70deg) scale(1);
      opacity: 1;
    }
  }
  @keyframes leftBtn01 {
    0% {
      transform: scale(0);
      opacity: 0;
    }
    50% {
      transform: scale(0.95);
    }
    80% {
      transform: translateX(-40px) rotateY(-70deg) scale(1.2) scaleY(.5);
    }
    100% {
      transform: translateX(-40px) rotateY(-70deg) scale(1);
      opacity: 1;
    }
  }
  @keyframes settingsBtn{
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

  // 淡入
  @keyframes alpha_in {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }
  // 淡出
  @keyframes alpha_out {
    0% { opacity: 1; }
    100% { opacity: 0; }
  }
  // 彈窗效果
  @keyframes intro_box {
    0% {
      opacity: 0;
      transform: scale(0)
    }

    20% {
      transform: scale(1.2)
    }

    40% {
      transform: scale(0.89)
    }

    60% {
      transform: scale(1.04)
    }

    80% {
      transform: scale(0.98)
    }

    100% {
      opacity: 1;
      transform: scale(1)
    }
  }

}
