
.btn-sample {
  --color: #0ebeff;
  display: flex;

  .btn {
    position: relative;
    z-index: 0;
    // width: 100%;
    // height: 10px;
    width: 160px;
    height: 80px;
    line-height: 80px;
    color: var(--color);
    font-size: 24px;
    border-radius: 10px;
    text-align: center;
    margin: auto;
    overflow: hidden;
    cursor: pointer;
    transition: .3s;
    -webkit-box-reflect: below 10px linear-gradient(transparent, rgba(0, 0, 0, .4));

    &:hover {
      color: #fff;
      box-shadow: 0 0 5px var(--color),
        0 0 25px var(--color);

      &::after,
      &::before {
        transition: .3s;
        background: var(--color);
      }
    }

    &::before {
      content: '';
      position: absolute;
      z-index: -2;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      width: 150%;
      height: 300%;
      background-color: #000;
      background-repeat: no-repeat;
      background-size: 50% 50%;
      background-position: 0 0;
      background-image: conic-gradient(var(--color), var(--color));
      animation: rotate 2s linear infinite;
    }

    &::after {
      content: '';
      position: absolute;
      z-index: -1;
      left: 2px;
      top: 2px;
      width: calc(100% - 4px);
      height: calc(100% - 4px);
      background: #000;
      border-radius: 10px;
    }
  }

  @keyframes rotate {
    100% {
      transform: translate(-50%, -50%) rotate(1turn);
    }
  }

  @keyframes popup {
    0% {
      transform: scale(0); 
      opacity: 0;
    }
    50% { transform: scale(0.95); }
    80% { transform: translateX(50px) translateY(50px) rotateY(70deg) scale(1.2) scaleY(.5); }
    100% {
      transform: translateX(50px) translateY(50px) rotateY(70deg) scale(1);
      opacity: 1;
    }
    // 0% { transform: scale(0); }
    // 20% { transform: scale(1.1); }
    // 50% { transform: scale(0.95); }
    // 80% { transform: scale(1.05); }
    // 100% { transform: scale(1); }
  }

}
