
.css3d-sample {
  .camera {
    // width: 200px;
    // height: 200px;
    // // perspective-origin: center center;
    // perspective: 500px;

    perspective-origin: 50% 100%;
    perspective: 255px;
  }
  .space {
    // width: 100%;
    // height: 100%;
    // border: 1px dashed #000;
    transform-style: preserve-3d;
  }
  .box {
    width: 75px;
    // height: 100px;
    background: #069;
    transform: translateX(50px) translateY(50px) rotateY(70deg);

    display: flex;
    align-items: center;
    justify-content: center;


    animation-name: popup; // 動畫名稱
    animation-duration: 1s; // 持續時間
    animation-fill-mode: forwards;
    animation-timing-function: cubic-bezier(0.165, 0.44, 0.64, 1);
    // animation: popup 1s;
  }


  .camera2 {
    perspective-origin: 50% 400%;
    perspective: 255px;
  }
  .space2{
    transform-style: preserve-3d;
  }
  .box2 {
    width: 75px;
    // height: 100px;
    background: #069;
    transform: translateX(50px) translateY(50px) rotateY(70deg);

    display: flex;
    align-items: center;
    justify-content: center;

    // animation-name: popup; // 動畫名稱
    // animation-duration: 1s; // 持續時間
    // animation-fill-mode: forwards;
    // animation-timing-function: cubic-bezier(0.165, 0.44, 0.64, 1);
    // // animation: popup 1s;
  }






  @keyframes popup {
    0% {
      transform: scale(0); 
      opacity: 0;
    }
    50% { transform: scale(0.95); }
    80% { transform: translateX(50px) translateY(50px) rotateY(70deg) scale(1.2) scaleY(.5); }
    100% {
      transform: translateX(50px) translateY(50px) rotateY(70deg) scale(1);
      opacity: 1;
    }
    // 0% { transform: scale(0); }
    // 20% { transform: scale(1.1); }
    // 50% { transform: scale(0.95); }
    // 80% { transform: scale(1.05); }
    // 100% { transform: scale(1); }
  }

}
