// base
body {
  background: #141414;
  overflow: hidden;
  // opacity: 0;
  // animation: intro_box 1s 1s forwards;
}

.game-base.game-snake {
  // opacity: 0;
  // animation: intro_box 1s 1s forwards;
}

.game-base {
  // height: calc(100vh - 70px);
  height: 100vh;
  width: 100vw;
  overflow: hidden;

  // WAITING狀態
  .all-mask {
    position: absolute;
    background: #000000d6;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 999;

    // 標題HEADER
    .nvbar {
      height: 40px;
      width: 100%;
      padding-right: 10px;

      text-align: left;
      display: flex;
      align-items: center;
      justify-content: space-between;
  
      .button.settings, 
      .button.back {
        cursor: pointer;
        span {
          // border: 1px solid #00ff00;
          color: #00ff00;
          border-radius: 3px;
          padding: 3px;
        }
      }

      .button.settings {
        .icon-btn {
          position: absolute;
          top:0px;
          right: 0px;
        }
      }
      // 右邊選項
      .settings-list-right {
        position: absolute;
        z-index: 99;
        top: 190px;
        right: 0px;

        perspective-origin: 50% 100%;
        perspective: 255px;

        ul {
          position: relative;
          transform-style: preserve-3d;
        }
        li:nth-child(1) {
          animation-delay: calc(1 * 0.2s);
          top: -110px;
        }
        li:nth-child(2) {
          animation-delay: calc(2 * 0.2s);
          top: -55px;
        }
        li:nth-child(3) {
          animation-delay: calc(3 * 0.2s);
          top: 0px;
        }
        li:nth-child(4) {
          animation-delay: calc(4 * 0.2s);
          top: 55px;
        }
        li:nth-child(5) {
          animation-delay: calc(5 * 0.2s);
          top: 110px;
        }

        li {
          min-width: 100px;
          text-align: center;
          position: absolute;
          right: 20px;
          font-family: "Coda Caption", sans-serif;
          cursor: pointer;
          
          margin-bottom: 10px;
          transform: translateX(40px) rotateY(70deg);

          animation-name: rightBtn01; // 動畫名稱
          animation-duration: 1s; // 持續時間
          animation-fill-mode: forwards;
          animation-timing-function: cubic-bezier(0.165, 0.44, 0.64, 1);
        }
        li:hover {
          color: #00ff00;
          border: 1px solid #00ff00;

          animation-name: twirl; // 動畫名稱
          animation-duration: 1s; // 持續時間
          animation-fill-mode: forwards;
          animation-timing-function: cubic-bezier(0.165, 0.44, 0.64, 1);
        }

        ul li {
          color: #00ff0052;
          font-weight: bold;

          border: 1px solid #00ff0052;
          border-radius: 3px;
          padding:10px;
        }
      }
      // 左邊選項
      .settings-list-left{
        position: absolute;
        z-index: 99;
        top: 350px;
        left: 5px;
      
        perspective-origin: 50% 100%;
        perspective: 255px;

        ul {
          position: relative;
          transform-style: preserve-3d;
        }
        
        li:nth-child(1) {
          animation-delay: calc(1 * 0.2s);
          top: -110px;
        }
        li:nth-child(2) {
          animation-delay: calc(2 * 0.2s);
          top: -55px;
        }
        li:nth-child(3) {
          animation-delay: calc(3 * 0.2s);
          top: 0px;
        }
        li:nth-child(4) {
          animation-delay: calc(4 * 0.2s);
          top: 55px;
        }
        li:nth-child(5) {
          animation-delay: calc(5 * 0.2s);
          top: 110px;
        }
        li:nth-child(6) {
          animation-delay: calc(6 * 0.2s);
          top: 165px;
        }
      
        li {
          min-width: 100px;
          position: absolute;
          left: 20px;
          font-family: "Coda Caption", sans-serif;
          text-align: center;
          cursor: pointer;
      
          margin-bottom: 10px;
          transform: translateX(-40px) rotateY(-70deg);
          // transform: translateX(40px) rotateY(70deg);
      
          animation-name: leftBtn01; // 動畫名稱
          animation-duration: 1s; // 持續時間
          animation-fill-mode: forwards;
          animation-timing-function: cubic-bezier(0.165, 0.44, 0.64, 1);
        }
        li:hover {
          color: #00ff00;
          border: 1px solid #00ff00;

          animation-name: twirl; // 動畫名稱
          animation-duration: 1s; // 持續時間
          animation-fill-mode: forwards;
          animation-timing-function: cubic-bezier(0.165, 0.44, 0.64, 1);
        }
        ul li {
          color: #00ff0052;
          font-weight: bold;
      
          border: 1px solid #00ff0052;
          border-radius: 3px;
          padding: 10px;
        }
      }
    }

    // FUNCTIONS 
    .page--show {
      display: block;
    }
    .page--hide {
      display: none;
    }

    // MAIN 
    .main {
      min-height: 500px;
      height: calc(100vh - 70px);
      padding-top: 12%;

      .special-box {
        // 載入特殊字體
        @import url('https://fonts.googleapis.com/css?family=Coda+Caption:800');
        // @import url('https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz:800');
        .title {
          text-align: center;
          // font-family: 'Yanone Kaffeesatz', sans-serif;
          font-family: 'Coda Caption', sans-serif;
          color:#00ff00;
          font-weight: 800;
          line-height: 1.0;
          letter-spacing: -0.03em;
          // transform-style: preserve-3d;
          /* Important for establishing a shared 3D space for all the layers */
          --layer-depth: 0.32em;
          .char {
            opacity: 0;
          }
        }
        .title2 {
          color:#00ff00;
          .char {
            opacity: 0;
          }
        }
      }
      .button-bar {
        margin-top: 50px;

        button {
          font-size: 20px;
          color: #00ff00;
          opacity: 0;
          border: 1px solid #00ff0035;

          &:hover {
            border-color: #00ff00;
          }
        }
      }
    }
    
    .footer {
      height: 30px;
      width: 100%;
      // border-top: 1px solid #3e3e3e;
      border-top: 1px solid #00ff0035;

      display: flex;
      align-items: center;
      justify-content: center;
      
      .content {
        color: #00ff00;
        // color: #8d8d8d;
        font-size: 12px;
        .char {
          opacity: 0;
        }
      }
    }
  }
  // WAITING狀態
  .all-mask.waitting-status {
    .main {
      .header {
        // overflow: hidden;
        .title {
          font-size: 128px;
          letter-spacing: 3px;
        }
        // WELCOME
        // .up-title-block,
        // .down-title-block {
        //   position: relative;
        //   height: 64px;
        //   overflow: hidden;

        //   .up-title,
        //   .down-title {
        //     position: absolute;
        //     height: 64px;
        //     overflow: hidden;

        //     left: 50%;
        //     transform: translate(-50%, 0);
        //   }

        //   .down-title {
        //     top: -64px;
        //     height: auto;
        //   }
        // }
        // .down-title-block {
        //   margin-top: 7px;
        // }
        .title-second-block {
          margin-top: 15px;
        }

        // =========================
        // Headline animations
        // =========================
        // 變色字 top-color
        .rainbow-up {
          background: linear-gradient(to bottom right, blue, 10%, pink);
          background-clip: text;
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
          animation: hue 6s infinite;
        }
        @keyframes hue {
          from {
            filter: hue-rotate(0deg);
          }

          to {
            filter: hue-rotate(360deg);
          }
        }

        // down-color 
        .rainbow-down {
          background: linear-gradient(to bottom right, #ff3535, 20%, #c989ff);
          background-clip: text;
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
          animation: hue 6s infinite;
        }
        @keyframes hue {
          from {
            filter: hue-rotate(0deg);
          }

          to {
            filter: hue-rotate(360deg);
          }
        }

        // Animations
        .splitting-model {

          .word,
          :deep(.char) {
            animation-delay: var(--del);
            animation-direction: var(--dir, normal);
            animation-duration: var(--dur);
            animation-iteration-count: var(--it, infinite);
            animation-name: var(--name);
            animation-timing-function: var(--tf);
            animation-fill-mode: var(--fill, forwards);

            // animation: actoins01 6s infinite;
            display: inline-block;
            position: relative;
            transform-origin: 50% 100%;
            z-index: 1;
            // right: -280px;
          }
        }
        // 副標題
        .splitting-model.handle-actions-up-welcome {
          :deep(.char) {
            --name: actoins01;
            --dur: 800ms;
            --del: calc(var(--char-index) * 0.075s);
            --it: 1;
            --tf: cubic-bezier(0.165, 0.44, 0.64, 1);
          }
          @keyframes actoins01 {
            0% {
              // right: 0px;
              right: -280px;
              opacity: 0.5;
            }

            20% {
              transform: translateY(2%) scaleY(0.9);
            }

            40% {
              transform: translateY(-100%) scaleY(1.2);
            }

            50% {
              transform: translateY(10%) scaleY(0.8);
            }

            70% {
              transform: translateY(-5%) scaleY(1);
            }

            90% {
              right: 280px;
            }

            95% {
              transform: scaleX(0.3);
            }

            99% {
              transform: scale(1.5);
            }

            80%,
            100% {
              transform: translateY(0) scaleY(1);
              opacity: 1;
              // right: 190px;
              color: #777;
              // transform: translateX(calc(0.01em * var(--char-index))); 位移
              // transform: scaleX(0.3);
            }


          }
        }

      }
    }

    // 設定VIEW PAGE
    .main.settingsPage,
    .main.controlsPage, 
    .main.detailsPage,
    .main.rankingPage {
      padding-top: 5%;

      .header {
        .title {
          font-size: 60px;
        }
      }
      .content-block.margin-top50 {
        margin-top: 50px;
      }
      .content-block {
        margin-top: 30px;
      }
      .red{
        color:#ff3535;
        font-weight: bold;
      }
      .yellow{
        color:#ffff00;
        font-weight: bold;
      }
      .orange{
        color:#ff8c00;
        font-weight: bold;
      }
      .blue{
        color:#00bfff;
        font-weight: bold;
      }
    }

    .main.settingsPage {
      .main-block {
        width:650px;
        // height: 300px;

        margin: 0 auto;
        margin-top: 20px;
        padding: 15px;

        color:#00ff00;
        // border: 1px solid #00ff00;
        border-radius: 3px;

        // Animation
        // animation: intro_box 1s 1s forwards;
        .settings-block {
          display: flex;
          margin-top: 35px;
          margin-bottom: 15px;
          opacity: 0;
          // animation: intro_box 1s 1s forwards;

          .title {
            width: 150px;
            text-align: right;
            font-weight: bold;
            font-size: 22px;
          }
          .content {
            flex:1;
            padding-left: 10px;
            padding-right: 10px;
            display: flex;
            align-items: center;

            // .progress {
            //   height: 30px;
            //   width: 100%;
            //   border: 1px solid;
            //   border-radius: 3px;
            //   background: #002d00cc;
            // }
            // .progress-bar {
            //   height: 100%;
            //   background: #00ff00;
            // }

          }

        }
        .settings-block:nth-child(1) {
          margin-top: 20px;
        }
      }
      .button-block {
        margin-top: 30px;
        .button-save {
          opacity: 0;
          font-size: 20px;
          color:#00ff00;
          background: unset;
          border: 1px solid #002d00cc ;
          &:hover {
            border: 1px solid #00ff00 ;
          }
        }
      }
    }
    .main.rankingPage {
      .title-second-block {
        width:650px;
        margin: 0 auto;
        margin-top: 30px;
        color:#00ff00;

        .ranking-block {
          display: flex;
          font-family: monospace;
          font-weight: bold;
          font-size: 22px;

          &>div{
            // opacity: 0;
            // flex: 1;
          }

          .char {
            opacity: 0;
          }
          .rank {
            width: 225px;
            // text-align: left;
            padding-left: 10px;
          }
          .name {
            flex: 1;
            text-align: left;
            font-weight: 100;
          }
          .score {
            flex: 1;
            text-align: right;
            font-weight: 100;
          }
        }

        // 色票
        .colorff3535 {
          color: #ff3535 !important;
        }
        .colorff8c00 {
          color: #ff8c00 !important;
        }
        .colorffff00 {
          color: #ffff00 !important;
        }
        .color00ff00 {
          color: #00ff00 !important;
        }
        .color00bfff {
          color: #00bfff !important;
        }
        .colorc989ff {
          color: #c989ff !important;
        }
        .colorFF26FF {
          color: #FF26FF !important;
        }
        .color000085 {
          color: #000085 !important;
        }
        .color200137 {
          color: #200137 !important;
        }
      }
    }
  }
  // RESULT狀態
  .all-mask.result-status.all-mask {
    background: rgba(0, 0, 0, 0.95);
  }
  .all-mask.result-status {
    .main {
      .special-box {
        .title {
          font-size: 60px;
          letter-spacing: 5px;
        }
        .title2 {
          margin-top: 15px;
          font-size: 12px;
        }
      }
      .list-block {
        width: 350px;
        margin: 35px auto;

        .item {
          margin-bottom: 5px;
          display: grid;
          grid-template-columns: auto auto;

          font-size: 25px;
          color: #00ff00;
          padding-right: 50px;
          position: relative;

          .label {
            font-weight: 600;
          }
          .score {
            text-align: right;
          }
        }

      }

      .button-bar {
        margin-top: 42px;
      }
      .result-bar {
        button:first-child {
          margin-right: 110px;
          &:hover {
            border-color: #00ff00;
          }
        }
        .exit-button {
          color: #441811;
          border: 1px solid #ff000036;
          &:hover {
            color: #ff0000;
            border-color: #ff0000;
          }
        }
      }

      .effectsBox {
        width: 430px;
        height: 500px;

        position: relative;
        left: 50%;
        transform: translate(-50%, -90%);

        .snakeEffects {
          &>div {
            width: 10px;
            height: 10px;
            background-color: rgb(0, 0, 0);
            border: 1px solid #b7d4a8;
            position: absolute;
          }
          
            /* //蛇头是红色的，便于区分 */
            &>div:first-child {
              background-color: red;
            }
        }
      }

    }
  }
  // READY狀態
  .all-mask.ready-status {
    // background: unset;
    .special-box {
      position: relative;

      .number {
        width: 100%;
        position: absolute;
        color:#00ff00;
        font-size: 150px;
        font-weight: bold;
        opacity: 0;
      }
    }
  }
}
